/* projects-copy.html */
.projects-container {
  margin: auto;
}
.large-project-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}
.large-tab {
  position: relative;
  width: 47%;
  align-items: flex-start;
  margin: 5px;
}
.large-tab a {
  color:#000;
  opacity: 0.55;
  text-decoration: none;
}
.large-tab a:hover {
  color:#000;
  opacity: 1;
  text-decoration: none;
}
.large-tab img {
  z-index: 2;
  width: 100%;
}
.tab-text {
  position:absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  z-index: 4;
  background-color:#101010;
  width: 101%;
  height: 70px;
  padding: 5px;
  text-align: center;
}
.project-subtitle {
  font-size: 18px;
}
.project-num {
  font-size: 12px;
}

/* mobile project gallery */
/* menu icons */
.mobile-project-gallery {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .small-menu-icon {
      font-size: 24px;
      display: block;
  }

  .large-menu-icon {
    display: none;
  }

  .projects-container {
    display: none;
  }
  .mobile-project-gallery {
    width: 100%; 
    display: flex; 
    flex-direction: column;       
    justify-content: space-evenly; 
    gap: 10px; 
    margin: 10px 10px;
  }

  .project-img {
    width: 100%; 
    height: auto; 
    background-size: cover; 
    position: relative;
    background-color: #000;
    opacity: 0.6;
  }

  .project-img a {
    opacity: 1;
    text-decoration: none;
    transition: 2s ease-in-out;
  }

  .project-img a:hover {
    opacity: 1;
    transition: 2s ease-in-out;
    overflow: hidden;
  }

  .mobile-project-text {
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%); 
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: 2s ease-in;
    background-color: #000;
    color: white;
    border-radius: 5px;
    opacity: 0.55;
    padding: 5px;
  }

  .project-subtitle {
    color: #fff; 
    text-decoration: none;
  }

  .project-subtitle {
    font-size: 28px;
    line-height: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .large-menu-icon {
    display: none;
  }
  .small-menu-icon {
    display: block;
    font-size: 28px;
  }
  .projects-container {
    display: none;
  }
  .mobile-project-gallery {
    width: 100%; 
    display: flex; 
    flex-direction: column;       
    justify-content: space-evenly; 
    gap: 10px; 
    margin: 10px 10px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .large-menu-icon {
    display: block;
      font-size: 32px;
  }
  .small-menu-icon {
    display: none;
  }
  .projects-container {
    display: flex;
  }
  .mobile-project-gallery {
    display: none;
  }
  .tab-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 4;
    text-align: center;
  }
  .project-subtitle,
  .project-num {
    color: #fff; 
    text-decoration: none;
  }
  .project-subtitle {
    font-size: 14px;
  }
  .project-num {
    font-size: 10px;
  }
  .project-gallery {
    width: 100%; 
    display: flex; 
    flex-direction: row;       
    justify-content: space-evenly; 
    gap: 15px; 
    margin: 10px 10px;
  }
  .project-img {
    width: 50%; 
    height: auto; 
    border: 2px solid white; 
    background-size: cover; 
    position: relative;
    background-color: #000;
    opacity: 0.7;
  }
  .project-img a {
    background-color: #000;
    opacity: 0.7;
    text-decoration: none;
  }
  .project-img a:hover {
    opacity: 1;
    transition: 1s ease-in-out;
    overflow: hidden;
  }
  .project-text {
    position: absolute; 
    top: 78%; 
    left: 50%; 
    transform: translate(-50%); 
    text-align: center;
    cursor: pointer;
    z-index: 1;
    background-color: #000;
    width: 100%;
    height: 90px;
    padding: 10px 5px 0 15px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 2s ease-in;
  }
  .project-text:hover {
    opacity: 1;
    transition: 2s ease-out;
  }
  .project-subtitle {
      font-size: 28px;
      line-height: 30px;
  }
  .project-num {
    font-size: 18px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .small-menu-icon {
    display: none;
  }

  .large-menu-icon {
    font-size: 38px;
  }
  .projects-container {
    display: flex;
  }
  .mobile-project-gallery {
    display: none;
  }
  .tab-text {
    position:absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%);
    z-index: 4;
    background-color:#101010;
    width: 101%;
    height: 70px;
    padding: 5px;
    text-align: center;
  }
  .project-subtitle {
    font-size: 18px;
  }
  .project-num {
    font-size: 12px;
  }
}

.no-underline-link:visited,
.no-underline-link:active,
.no-underline-link:hover {
  text-decoration: none;
}

.underline-link:hover,
.underline-link:active,
.underline-link:visited {
  color: white;
  text-decoration: underline;
}